section.divided-section {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;

  .message-container {
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .media-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}