div.logo-image-container {
  // height: 500px;
  min-height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  // margin: 80px 0 20px 0;


  div.link-img-gallery-wrapper {
    width: 75%;
    
    span {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;

      .gallery-element {

          img {
          width: auto;
          height: auto;
          max-width: 250px;
          max-height: 250px;
          margin: 15px 10px;
        }
      }
    }
  }
}