div.logo-image-container {
  // height: 500px;
  min-height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 30px;

  div.link-img-gallery-wrapper {
    width: 75%;
    
    span {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;

      .gallery-element {
          img {
          width: 250px;
        }
      }
    }
  }
}