@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

$back-color: #231f20;
$main-color: #F37021;

* {
  box-sizing: border-box;
}
body {
  font-size: large;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1920px;
}

main {
  font-family: Open Sans, sans-serif;
}

a {
  text-decoration: none;
}


