@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

$back-color: #231f20;
$main-color: #F37021;



main {
  font-family: Open Sans, sans-serif;
}

a {
  text-decoration: none;
}


