.banner-image {
  width: 100%;
  height: 600px;
  // background-image: linear-gradient(rgba(150,150,150,0.5), rgba(150, 150, 150, 0.5)), url("../assets/main-cover.jpg");
  // background-image: linear-gradient(rgba(150,150,150,0), rgba(150, 150, 150, 0)), url("../assets/main-cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  span.text-container {
    // height: 
    width: 100%;
    background-color: rgba($color: #231f20, $alpha: 0.7);
    
    h2 {
      color: white;
      font-size: 4em;
      font-family: Open;
      &.center {
        // padding: 0;
        margin: 30px;
        text-align: center;
      }
    }
  }
}